// Place all the styles related to the Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
    width: 49%;
    float: left;
}

.form-group:nth-child(odd){
   margin-right:1%;
}
.my-card.card {margin-top: 30px;}
.my-submit.btn-primary {background-color: #353a40;    border-color: #353a40;    padding: 7px 45px;}
.text-danger {  color: #dc3545!important;   font-size: 13px;    text-transform: capitalize;   
 margin-left: 3px;}
 .table-bordered{margin-top:10%; border-radius:7px!important; overflow:hidden;}
 .table-bordered td:nth-child(odd) {    color: #ffffff!important;     background-color: #353a40!important;      max-width: 120px;    border-color: #40454c !important; }
.container.my-width {  max-width: 600px;}
.table-striped tbody tr:nth-of-type(even) {    background-color: rgba(0,0,0,.07);}